{% block title %}Course List{% endblock %}

{% block heading %}Course List{% endblock %}

{% block content %}
    <h2>Course List</h2>
    {% if courses %}
        <ul>
            {% for course in courses %}
                <li>
                    <a href="{% url 'course_detail' course.id %}">
                        {{ course.name }} - {{ course.num_students }}/{{ course.max_students }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No courses available.</p>
    {% endif %}
{% endblock %}
